.other-player-chooser-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.other-player-chooser-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.other-player-chooser-option img { 
  height: 100%;
  margin-bottom: 20px;
}
