.app-settings-button {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1100;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  background: #ffffff;
}

.larger-text {
  font-size: 2em;
}